# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Virtual Environment
# =========================
venv/
env/
source/

# =========================
# Django
# =========================
db.sqlite3
*.log
staticfiles/
media/

# =========================
# Environment Variables
# =========================
.env

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db