Django==5.0.12
gunicorn==22.0.0
whitenoise==6.7.0

# Database (Render uses PostgreSQL)
psycopg2-binary==2.9.9

# Env handling
python-dotenv==1.0.1

# Django extras (only if you used them)
django-crispy-forms==2.2
crispy-bootstrap5==2024.2
django-jazzmin==3.0.4
djangorestframework==3.17.1

# Utilities
sqlparse==0.5.3
asgiref==3.8.1